/* Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* Genel */
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
*{
    box-sizing: border-box;
    transition: 150ms all;
}

/* Bar */
::-webkit-scrollbar{
    background: transparent;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #303030;
    border-radius: 50px;
}

/* Selection */
::selection{
    background: #1a1a1a;
    color: white;
}

/* İlerleme Barı */
#ilerleme-bari, #bar{
    z-index: 999;
}

/* Yuvarlak Banner */
.yuvarlak-banner{
    display: none;
}
.yuvarlak-banner-2{
    display: none;
}

/* Menu */
#mobile-menu{
    padding: 20px;
    display: none;
    z-index: 1;
    background-color: #fff;
    transition: 250ms all;
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#mobile-menu .menubox > div > h1{
    font-size: 50px;
}
#mobile-menu .menubox > div > a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    transition: 450ms all;
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
}

.menu{
    padding: 20px;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #fff;
    transition: 250ms all;
}
.menu .menubox{
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}
.menu .menubox > div{
    color: black;
}
.menu .menubox > div > img{
    width: 100px;
    border-radius: 500%;
}
.menu .menubox > div > span{
    color: black;
    font-weight: bold;
    font-size: 25px;
}
.menu .menubox > div > a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    transition: 450ms all;
    /* Efekt */
    background-image: linear-gradient(#000000 100%, #000000 0%);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 0% 1px;
}
.menu .menubox > div > a:hover{
    background-size: 100% 1px;
}
.menu .menubox > div > i{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Banner */
.banner{
    margin-top: 20px;
    overflow: hidden;
}
.banner > .banner-box{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    text-align: center;
}
.banner > .banner-box > div > img{
    border-radius: 500%;
    animation: fadeInDown;
    animation-duration: 2s;
}
.banner > .banner-box > div > h1{
    font-size: 80px;
    animation: fadeInDown;
    animation-duration: 2s;
}
.banner > .banner-box > div > p{
    font-size: 20px;
    animation: fadeInDown;
    animation-duration: 2s;
}
.banner > .banner-box > div a{
    text-decoration: none;
    color: black;
    padding: 10px;
    box-shadow: 0px 0px 0px 1px rgba(25, 24, 23, .2);
    width: 150px;
    display: block;
    transition: 450ms all;
    border-radius: 20px;
    border: none;
    outline: none;
    animation: fadeInDown;
    animation-duration: 2s;
}
.banner > .banner-box > div a:hover{
    background-color: rgba(25, 24, 23, 1);
    color: white;
    box-shadow: initial;
}

/* Copyright */
.copyright{
    position: fixed;
    bottom: 0;
    margin: 10px;
    text-align: center;
    left: 0;
    right: 0;
}

/* Animation */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Responsive */
@media screen and (max-width: 800px){
    .yuvarlak-banner{
        display: block;
        position: fixed;
        bottom: 50%;
        transform: translate(-10%, -5%);
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	    background-size: 400% 400%;
	    animation: gradient 15s ease infinite;
        width: 500px;
        height: 500px;
        border-radius: 500%;
        z-index: -1;
        filter: blur(90px);
    }
    /* .yuvarlak-banner-2{
        display: block;
        position: fixed;
        bottom: 50%;
        transform: translate(40%, 150%);
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	    background-size: 400% 400%;
	    animation: gradient 15s ease infinite;
        width: 500px;
        height: 500px;
        border-radius: 500%;
        z-index: -1;
        filter: blur(90px);
    } */
    .menu > .menubox > div > span{
        display: none;
    }
    .banner > .banner-box{
        margin-left: initial;
        margin-right: initial;
        display: initial;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .banner > .banner-box > div > img{
        display: none;
    }
}

/* Dark Mode */
.darkmode .banner > .banner-box > div a{
    text-decoration: none;
    color: white;
    padding: 10px;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, .2);
}
.darkmode .banner > .banner-box > div a:hover{
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: initial;
}
.darkmode{
    background-color: #121212;
    color: white;
}
.darkmode .menu{
    background-color: rgba(28, 28, 28, .7);
}
.darkmode .menu .menubox > div{
    color: white;
}
.darkmode .menu .menubox > div > a{
    color: white;
}
.darkmode .menu .menubox > div > span{
    color: white;
}
.darkmode #mobile-menu{
    background-color: #1c1c1c;
}
.darkmode #mobile-menu > .menubox > div > a{
    color: white;
}

/* Slider */
/* div#slider{
    overflow: hidden;
}
div#slider figure img{
    width: 20%;
    float: left;
    object-fit: cover;
    height: 50%;
}
div#slider figure{ 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
}
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
} */